# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.env.*
.venv/
venv/
env/

# IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs and outputs
exp_result/

# Dataset artifacts
dataset/images/
dataset/*.zip